.Profile{
   padding: 22px 80px 35px 25px;
   font-family: 'SF Pro Display';
  
}

.Back{
   display: flex;
   align-items: center;
}
.BackArr{
   width: 5px;
   height: 10px;
   background-image: url("./assets//BackArrow.svg");
   margin-right: 18px;
}
.BackText{
   font-size: 20px;
   color: #000000B2;
   cursor: pointer;
}

.BackText:hover{
   color: #000000;
}

.ProfileMain{
   padding-left: 143px;
   display: flex;
}