.viewSelectorWrapper {
  box-sizing: border-box;
  margin-top: 34px;
}

.label {
  display: block;
  width: 34px;
  height: 22px;

  font-size: 20px;
  line-height: 22px;
  font-weight: 400;
}

.buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;

  width: 262px;

  margin-top: 10px;
}

.button {
  display: block;
  width: 84px;
  height: 48px;

  border-radius: 20px;
  border-style: none;
  background-color: white;

  cursor: pointer;

  font-size: 20px;
  line-height: 22px;
  font-weight: 400;
}

.buttonSelected {
  background-color: rgb(217, 217, 217);
}

.link {
  text-decoration: none;
}

