.table {
  box-sizing: border-box;
}

.grid {
  position: absolute;
}

.hBlock:nth-child(1) {
  margin-top: 36px;
}

.hBlock {
  margin-top: 59px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}


.timeStamp {
  font-size: 15px;
  line-height: 22px;
  font-weight: 400;
  letter-spacing: -0.41px;
  color: rgba(0, 0, 0, 1);

  background-color: transparent;
}

.hTimeLine {
  display: block;
  width: 1344px;
  border-top: rgba(112, 112, 112, 0.5) 1px solid;
  margin-left: 5px;
}

.vLines {
  position: absolute;
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
}

.vBlock:nth-child(1) {
  margin-left: 245px;
}


.vBlock {
  display: block;

  border-left: rgba(112, 112, 112, 0.5) 1px solid;
  width: 1px;
  height: calc(767px + 9px);
  margin-left: 180px;
}



.realTimeLine {
  position: absolute;

  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: row;

  width: 1344px;
  transform: translateY(36px);
}

.realTime {
  display: flex;
  align-items: center;

  color: rgba(221, 0, 0, 1);

  width: 32px;
  height: 22px;

  font-size: 15px;
  line-height: 22px;
  letter-spacing: -0.41px;

}

.rtlCircle {
  display: block;
  width: 5px;
  height: 5px;
  background-color: rgba(221, 0, 0, 1);
  border-radius: 50%;

  margin-left: 15px;
}

.rtLine {
  display: block;
  border: rgba(221, 0, 0, 1) 1.5px solid;
  width: 100%;
  height: 0;
  transform: translateX(-2px);
}


// Получение пользаков (временно)
.usersArea {
  position: absolute;
  margin-top: 1000px;
  margin-left: 50px;
  margin-bottom: 50px;
  width: 400px;
}

.butGetUsers {
  height: 50px;
  font-size: 30px;
}

.usersData {
  margin-top: 20px;
  margin-bottom: 50px;
  font-size: 20px;
  line-height: 25px;
  width: fit-content;
  height: fit-content;
}















